#过滤数据库文件、sln解决方案文件、配置文件  
*.mdb  
*.ldb  
*.sln  
*.config
*.sdl
*.xml
*.idea
*.mvn
*.settings
!pom.xml
*.cmd
*.project
#过滤文件夹Debug,Release,obj  
  
target/
test/
src/test/
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
